.home-button {
  width: fit-content;
  border: none;
  border-radius: 1.2rem;
  color: white;
  background-color: var(--theme);
  cursor: pointer;
  font-weight: 400;
}

.button-size-md {
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
}

.button-size-sm {
  padding: 0.2rem 0.6rem;
  font-size: 0.6rem;
}