.welcome-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -6vh;
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  gap: 1.5rem;
  color: var(--black70);
}

.welcome-image-container img {
  width: 40vw;
  border-radius: 4rem;
}
