li {
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.075rem;
  font-size: 0.875rem;
}

a:hover {
  /* text-decoration: underline; */
  /* color: var(--theme); */
}