@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --theme: #DDAD77;
  --black70: rgba(0, 0, 0, 0.7);
}

:root::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .main-theme {
  color: var(--theme);
} */

.no-select {
  user-select: none;
  -webkit-user-drag: none;
}