.card-container {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  color: black;
  border-radius: 1rem;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-image-container {
  position: relative;
}

.card-image {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-image-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  color: white;
  font-size: 0.45rem;
  margin-left: 1rem;
}

.card-image-info p {
  font-size: 0.9rem;
  font-weight: 300;
}

.card-image-info small{
  font-size: 0.8rem;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin: 2rem;
  gap: 1.5rem;
}

.news-card-button {
  width: 5vh;
}

.date-info {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.date-info p {
  font-size: 1rem;
}

.calendar-icon {
  width: 1.5rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 600;
  text-align: start;
}

.card-text strong {
  font-weight: 800;
}


.link-to-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 900;
}

.link-to-info p {
  font-weight: 600;
}

.arrow-icon {
  width: 2rem;
}